
  <div class="parallax-container">
    <div class>
    <%= image_tag "/images/streetfighter5.jpg", class: "parallax responsive-img" %>
  </div>
  </div>
  <div class="section black">
    <div class="row container">
      <h2 class="header center-align white-text">Perrrfect</h2>
      <p class="white-text text-darken-3 lighten-3">Combos Galore</p>
    </div>
  </div>
  <div class="parallax-container">
    <div>
      <%= image_tag "/images/smash.jpg", class: "parallax responsive-img" %>
    </div>
  </div>
