<div class="section red z-depth-1">
  <div class="row container">
    <h2 class="header center-align white-text hero-font">Perrrfect</h2>
    <p class="white-text center-align text-darken-3 lighten-3">Combos Galore</p>
  </div>
</div>
  <div class="parallax-container">
    <div class="parallax"><img src="/images/Street-Fighter-5.jpg"> </div>
  </div>
  <div class="section black">
    <div class="row container">
      <h2 class="header center-align white-text hero-font">Perrrfect</h2>
      <p class="white-text center-align text-darken-3 lighten-3">Sign up and join the combo community</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="/images/smash.jpg"></div>
  </div>
  </div>
