
  <div class="parallax-container">
    <%= image_tag "/images/Street-Fighter-5.jpg", class: "parallax" %>
  </div>
  <div class="section black">
    <div class="row container">
      <h2 class="header center-align white-text">Perrrfect</h2>
      <p class="white-text center-align text-darken-3 lighten-3">Combos Galore</p>
    </div>
  </div>
  <div class="parallax-container">
      <%= image_tag "/images/smash.jpg", class: "parallax" %>
  </div>
