<div class="container">
  <div class="row">
  <h3 class="center-align">Login</h3>
    <%= form_for @user, url: "/sessions", method: "post" do |f| %>
      <div class="input-field col s6">
        <%= f.text_field :email, placeholder: "Email" %>
      </div>
      <div class="input-field col s6">
        <%= f.password_field :password, placeholder: "Password" %>
      </div>
  </div>
  <div class="row">
    <div class="input-field col s7 push-s5">
      <%= f.submit "Sign In" , class: "btn black" %>
    </div>
  </div>
      <% end %>
</div>
