<div class="container">
  <div class="row">
    <h3 class="center-align card white">Games</h3>
      <% @games.each do |game|  %>
        <div class="col s6">
          <div class="card">
            <h3 class=" center-align card blue white-text"> <%=game.title %></h3>
            <%= link_to game, game_path(game) %>
            <%= image_tag game.avatar.url, class: "responsive-img" %>

          </div>
        </div>

    <% end %>
  </div>
</div>
