<div class="container">
  <div class="row">
    <h3 class="center-align card white">Games</h3>
      <% @games.each do |game|  %>
        <div class="col s6">
          <div class="card">
            <%= link_to(game) do %>
            <h4 class="center-align"> <%= game.title %></h4>
            <%= image_tag game.avatar.url, class: "responsive-img" %>
          </div>
            <% end %>
        </div>
    <% end %>
  </div>
</div>
