<div class="container">
  <div class="row">
    <h3 class="center-align card white"> <%= @game.title %> </h3>
    <div class="col s8 push-s2">
      <%= image_tag @game.avatar, class: "responsive-img card-panel" %>
    </div>
  </div>
  <div class="row">
    <h3 class="center-align card white">Characters <small></small></h3>
    
  </div>
</div>
