<div class="container">
  <div class="row">
    <div class="col s3 center-align">
      <h4>Ryu <small></small></h4>
      <%= image_tag "/images/ryu.jpg", size: "320x426", class: "responsive-img" %>
    </div>
    <div class="col s3 center-align">
      <h4> Ken <small></small></h4>
      <%= image_tag "/images/ken.jpg", size: "320x426", class: "responsive-img" %>
    </div>
    <div class="col s3 center-align">
      <h4>Cammy <small></small></h4>
      <%= image_tag "/images/cammy.jpg", size: "320x426", class: "responsive-img" %>
    </div>
    <div class="col s3 center-align">
      <h4>Akuma<small></small></h4>
      <%= image_tag "/images/akuma.jpg", size: "320x426", class: "responsive-img" %>
    </div>
  </div>
</div>
