$(document).ready(function(){
  $(".button-collapse").sideNav();
  console.log("hi")

  $('.parallax').parallax();

  var combosArray = new Array();

    $(".combo-input").on("click", function(event){
      //preventing page from reloading
      event.preventDefault();
      //clicking the to get the name of the file
      var clickedItem = (event.toElement.alt)
      //uppercasing the element
      var myItem = clickedItem.toUpperCase()

      // combosArray.push(myItem);
      // var thisCombo = JSON.stringify(combosArray).replace(/['"[\[\]]+/g, '');
      // $('input#combo-form').text(thisCombo);

      $('input#combo-form').val($('input#combo-form').val() + myItem + ",");

      });

    $("#HK").on("click", function(event){
      event.preventDefault();
      console.log('hi')
      $("#combos-list").append("<li data-id='2'>" + '<img src="http://imgh.us/HK.svg">' + "</li>");
    });

    $("#HP").on("click", function(event){
      event.preventDefault();
      console.log('hi')
      $("#combos-list").append("<li data-id='2'>" + '<img src="https://photos-3.dropbox.com/t/2/AABB7mm4rgdZXy16v1K5jtHb5vxVlKHLR8D8cHiXyf083g/12/164983/png/32x32/3/1456376400/0/2/HP.svg/EMTkKxjBlaKiBSAHKAc/VCDgocXbcUwd_ufZV5xEcXUn0zzvI4EcPIJx3rEFKC0?size_mode=3&size=1024x768">' + "</li>");
    });

    $("#LK").on("click", function(event){
      event.preventDefault();
      console.log('hi')
      $("#combos-list").append("<li data-id='3'>" + '<img src="https://photos-2.dropbox.com/t/2/AACA-6o_mi7hb7ns8et62RXfvcYlMItK51nPeb4juSck2Q/12/164983/png/32x32/3/1456437600/0/2/LK.svg/EMTkKxjBlaKiBSAHKAc/3JRG3A4m2UMEvHiJ-wkU43g7atbpkeHx149zTR5rg7o?size_mode=3&size=1024x768">' + "</li>");
    });

    $("#LP").on("click", function(event){
      event.preventDefault();
      console.log('hi')
      $("#combos-list").append("<li data-id='4'>" + '<img src="https://photos-6.dropbox.com/t/2/AACawSPazVzL04WJp1tmcA6inqWoPZ5DOSJNN4aTji_ezQ/12/164983/png/32x32/3/1456362000/0/2/LP.svg/EMTkKxjBlaKiBSAHKAc/CyLRe5sph0fZKOiJ-hqpO5QTuZkSu0U4uJWwEU6hpWI?size_mode=3&size=800x600">' + "</li>");
    });

    $("#MK").on("click", function(event){
      event.preventDefault();
      console.log('hi')
      $("#combos-list").append("<li data-id='5'>" + '<img src="https://photos-2.dropbox.com/t/2/AACdtmkkYK0QtcPsGMon_CmtwWSqu3pRqWctcwhxIScMLg/12/164983/png/32x32/3/1456362000/0/2/MK.svg/EMTkKxjBlaKiBSAHKAc/Ml3l-r-OWHio2N6ZejN7InVUn2pYD2n-TObp1Hqs6f8?size_mode=3&size=800x600">' + "</li>");
    });

    $("#MP").on("click", function(event){
      event.preventDefault();
      console.log('hi')
      $("#combos-list").append("<li data-id='6'>" + '<img src="https://photos-2.dropbox.com/t/2/AABbiEnRNMYa2Tk5egcOH7xeN43yy-c6hgbWB-xyPVpQwA/12/164983/png/32x32/3/1456362000/0/2/MP.svg/EMTkKxjBlaKiBSAHKAc/VQ4tyakCFeKTnkBgjPdwAEycvcj1Drby98Elo42AHJ8?size_mode=3&size=800x600">' + "</li>");
    });

    $("#QCB").on("click", function(event){
      event.preventDefault();
      console.log('hi')
      $("#combos-list").append("<li data-id='7'>" + '<img src="https://photos-6.dropbox.com/t/2/AABdoPFpK5ycqlUwUZ_dRxbU7jwdWL_kYDB9IWXq-omi5w/12/164983/png/32x32/3/1456437600/0/2/QCB.svg/EMTkKxjBlaKiBSAHKAc/8sHlyptpP1B7RZcxZaESZA-uRMTGYDfusfNa1x7aOJk?size_mode=3&size=1024x768">' + "</li>");
    });

    $("#QCF").on("click", function(event){
      event.preventDefault();
      console.log('hi')
      $("#combos-list").append("<li data-id='8'>" + '<img src="https://photos-4.dropbox.com/t/2/AABoEbIcJWpFw9M70ymgPPTmrv3lLHah1Jppptj53z0cnQ/12/164983/png/32x32/3/1456362000/0/2/QCF.svg/EMTkKxjBlaKiBSAHKAc/jebNIBWZ8ZtIE4ztL52tcxWSpABipsAsy879riMmmbI?size_mode=3&size=800x600">' + "</li>");
    });

    $("#DOWNLEFT").on("click", function(event){
      event.preventDefault();
      console.log('hi')
      $("#combos-list").append("<li data-id='9'>" + '<img src="https://photos-3.dropbox.com/t/2/AACXHHuyUpKojpXUxGWh6tVfjhT6vrjoi7HYyPlIb4n50w/12/164983/png/32x32/3/1456362000/0/2/DOWN%20LEFT.svg/EMTkKxjBlaKiBSAHKAc/nwELc5HcIRMMPfxSg5IGIW1zVnGaFoffuvl-D4BlmJk?size_mode=3&size=800x600">' + "</li>");
    });

    $("#DOWNRIGHT").on("click", function(event){
      event.preventDefault();
      console.log('hi')
      $("#combos-list").append("<li data-id='10'>" + '<img src="https://photos-6.dropbox.com/t/2/AADk_yhIEE0UJFFBoFAvlUibbUD7UwoXy5z_qbsWvWWgvA/12/164983/png/32x32/3/1456362000/0/2/DOWN%20RIGHT.svg/EMTkKxjBlaKiBSAHKAc/u95hC4SjxNDK04qs4t_sgv6XAIoWImAm4jmH_hpeEiM?size_mode=3&size=800x600">' + "</li>");
    });

    $("#DOWN").on("click", function(event){
      event.preventDefault();
      console.log('hi')
      $("#combos-list").append("<li data-id='11'>" + '<img src="https://photos-2.dropbox.com/t/2/AADroCHP_-zFIyfmUv6Z7SJWT1LIWfz9ekHu2cY6nvMu5Q/12/164983/png/32x32/3/1456362000/0/2/DOWN.svg/EMTkKxjBlaKiBSAHKAc/6phEI1WJ_iaoUCSUDtFSwjWU8ueidBt6lMrdb_Xqeow?size_mode=3&size=800x600">' + "</li>");
    });

    $("#LEFT").on("click", function(event){
      event.preventDefault();
      console.log('hi')
      $("#combos-list").append("<li data-id='12'>" + '<img src="https://photos-3.dropbox.com/t/2/AAD0xHx8CcH2Nu2a-WP34xFyAe-_wP3rSBR7hoOrSXVA-w/12/164983/png/32x32/3/1456437600/0/2/LEFT.svg/EMTkKxjBlaKiBSAHKAc/bpjSoI-Z9E_leJHHfXWSxc3omz3tEhdd7AeRb1ShdBU?size_mode=3&size=1024x768">' + "</li>");
    });

    $("#RIGHT").on("click", function(event){
      event.preventDefault();
      console.log('hi')
      $("#combos-list").append("<li data-id='13'>" + '<img src="https://photos-1.dropbox.com/t/2/AABFBzXY2X8or4TYXjx58Bx7gig-KRa_HlWeCCUBcvIpjw/12/164983/png/32x32/3/1456362000/0/2/RIGHT.svg/EMTkKxjBlaKiBSAHKAc/Ns_YuzkVByJ5DDmaTLz7V6ST2cd6gnw-tt--aylZAFo?size_mode=3&size=800x600">' + "</li>");
    });

    $("#UPLEFT").on("click", function(event){
      event.preventDefault();
      console.log('hi')
      $("#combos-list").append("<li data-id='14'>" + '<img src="https://photos-5.dropbox.com/t/2/AAAwidrjP7rWH_82E9EMbsl0SAc5Kh9OINhOMs9kN8ocSQ/12/164983/png/32x32/3/1456362000/0/2/UP%20LEFT.svg/EMTkKxjBlaKiBSAHKAc/Mm5bLyMHGEiWF9UhbCn6QY0Cyde9QUTglEyqvu0Wd0w?size_mode=3&size=800x600">' + "</li>");
    });

    $("#UPRIGHT").on("click", function(event){
      event.preventDefault();
      console.log('hi')
      $("#combos-list").append("<li data-id='15'>" + '<img src="https://photos-6.dropbox.com/t/2/AABnVlwktnrbH9rQ7KKEcmuIBL6dxSKCh96FyzN1d0ECHA/12/164983/png/32x32/3/1456362000/0/2/UP%20RIGHT.svg/EMTkKxjBlaKiBSAHKAc/C3ExECjuJLpngACOVmGHTo9FS7H9ZoW7K8-GlPLUWR8?size_mode=3&size=800x600">' + "</li>");
    });

    $("#UP").on("click", function(event){
      event.preventDefault();
      console.log('hi')
      $("#combos-list").append("<li data-id='16'>" + '<img src="https://photos-6.dropbox.com/t/2/AACWKufZ5cUtS3OEkL-n5gcR1tul4n_1_pDCEXSbU22BgQ/12/164983/png/32x32/3/1456362000/0/2/UP.svg/EMTkKxjBlaKiBSAHKAc/OcjVXoAB4VjGTOVp1ebLkhSJOcgf0pekGGdbEzhzIQg?size_mode=3&size=800x600">' + "</li>");
    });

});
